.expenses-filter {
  max-width: 120rem;
  min-width: 80rem;
  margin: 0 auto;
  padding: 1rem 3rem;

  &__control {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2rem;

    label {
      margin-right: 2rem;
    }

    select {
      font-family: inherit;
      font-size: 2rem;
      padding: 0.5rem 3rem;
      border-radius: 10px;
      font-weight: 500;
      border: 2px rgba(0, 0, 0, 0.25) solid;
      background-color: whitesmoke;

      &:focus {
        outline: none;
      }
    }
  }
}
